
:root {
     --gray1: rgb(98 108 116); /* rgb(106, 181, 241); */
     --gray2: #ababab; /* #494fc9; */
     --black: #000;
}

body {
    margin: 8px auto;
    width: 80%;
}

body input {
    padding-left: 10px;
    width: 250px;
    height: 30px;
    font-style: italic;
}


#input_place, 
#input_coordinates,
#short_text {
    display: none;
}


#submit_place {
    visibility: hidden;
}

#plaats {
    width: 80%;
}

.main_container_temperature,
.container_temperature 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1450px;
}

.temperature_now {
    display: flex;
    width: 80%;
    margin:auto;
}

/* mbt maan */

  .container_moon {
    display: flex;
    padding: 30px 50px;
    margin: auto;
    width: fit-content;
    position: relative;
    }

.moon, 
.shade, 
.oval_shade {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.shade, 
.oval_shade {
    background-color: var(--black); /* bbb; */
    position: absolute;
 }

.oval_shade {
  width: 30px;
  background-color: red; /* white; */
  z-index: 3;
 }

 .last_quarter {
    transform: translate(25px);
    border-radius: 0 20px 20px 0;
}

.first_quarter {
    transform: translate(-25px);
    border-radius: 20px 0 0 20px;
}

/* Einde maan */


.container_day_forecast_and_details,
.day_forecast_container, 
.hour_forecast_container, 
.sunriseset {
   display: flex;
   position: relative;
   margin: auto; 
   
 }

.container_day_forecast_and_details {
    margin: 2%;
}

 .day_forecast_container {
    flex-direction: column;
    margin: 1%;
    width: 80%;
    flex-wrap: wrap;
    align-content: center;
}

 #width_day_forecast, 
 #sunrise, 
 #sunset {
    padding: 0 5px;
    display: flex;
    align-items: center;
 }

 #sunrise, 
 #sunset {
    padding: 10px 5px;
 }

 .container_arrow {
    width: 70%;
 }
 
 .hour_forecast_container {
    overflow: auto;   
    margin: 1% 0;
 }
 
.day_forecast, 
.hour_forecast {
    display: flex;
    background-color: var(--gray2);
    justify-content: center;
    color: white;
    max-width: 500px;  
    padding: 5px;
    line-height: 1.6;
}

.hour_forecast {
    padding: 0px 25px;
    margin: 0 3px;
    flex-direction: column;
    background-color: var(--gray1);
}


.main {
    height: 1140px; 
    max-width: 1450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
   
}

.container_details, 
.container_footer_blocks, 
.container_sun {
    display: flex;
    width: 100%;
}

.container_footer_blocks {
    margin-top: auto;
}

.container_sun {
    height: 250px;
}

.empty_block_down,
.location_block,
.about_block,
.last_check_block, 
.moon_block, 
#arrow, 
#winds {
    width: 33%;
}

table {
    margin: auto;
    width: 300px;
}

.moon {
    display: flex;
    justify-content: center;
}

#current_temperature, 
#minmax_temperature, 
#feel_temperature,
#wind_text,
.sunriseset,
#weer, 
#last_update,
#morgen, #overmorgen, 
#input, #location, 
#winds, 
.info_details,
.weather_warning,
#about {
    color: white;
    font-weight: bold;
    font-size: large;
    font-family: 'Comic Neue', cursive;
    line-height: 30px;
    margin: auto;
    text-align: center;
    }

#wind_text {
    margin: auto 0 0 0;
    height: fit-content;
}

.info_details {
width: 50%;
text-align: left;
}

 #current_temperature, 
#minmax_temperature, 
#feel_temperature, 
#location
{
    color: black;
}   

#weer, 
.weather_warning {
    padding: 20px;
    margin: 0px;
}

  #gps {
    font-size: 12px;
    text-align: center;
}

/*
#moon {
    margin-top: 10px;
 }
*/      

.main #input, 
.main #location {
    margin: 0 auto 20px;
}

#location {
    min-width: 5px;
    max-width: fit-content;
    font-size: xx-large;
   
}

form #kompas {
    width: fit-content;
    padding: 5px;
    margin: 2% auto;
    display: flex;
    
}

#current_temperature {
    font-size: 40px;
    padding: 20px 0;
}

.main_container_arrow, 
.sunriseset {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sunriseset img {
    margin: 2%;
    width: 100px;
}

#arrow {
    color: white;
    margin: 0 20%;
    max-width: 100px;
    max-height: 50px;
    position: relative;
    padding: 50px;
}
    
  
 #image  {
  transform: scale(2);
 /* width: fit-content; */
  }


.font {
    font-size: large;
}

.visible {
    visibility: visible;
}

.hidden {
   visibility: hidden;
}

    
 #about {
    text-decoration: none;
    z-index: 5;
    align-content: end;
 }

#about, #last_update {
    font-size: 15px;
}

#last_update {
    text-align: right;
    margin-right: 5px;
}

 #overlay_about, 
 #overlay_ww {
    position: fixed;
    display: none;
    width: 80%;
    height: 95%;
    bottom: 5%;
    right: 10%;
    background-color: rgba(0,0,0,0.8);
    z-index: 8;
    cursor: pointer;
  }

  #overlay_ww {
    height: 50%;
    bottom: 25%;
    background-color: rgb(139 135 135 / 80%);
}
  
  #text_about, 
  #long_text_ww {
    position: absolute;
    /*background-image: url('./pics/artikel_aankondiging_small.png');*/
    top: 45%;
    left: 50%;
    line-height: 1;
    font-family: 'Comic Neue', cursive;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }


  @media (max-width: 1550px) {

           #doc2 {
                display: none; 
                }

            body {
            width: 100%;
        }
    }

    @media (max-width: 1400px) {

        .day_forecast_container {
            width: 100%;
         }
    }


   @media (max-width: 1100px) {

        #arrow_forecast_day {
        display: none;
    }
    }
        
  
  @media (max-width: 1000px) {

   
        #text_about{
            font-size: small;
             top: 50%;
             left: 55%;
            }

           #text_about img {
            padding-right: 10px;
             }  

             #doc1 {
                display: none; 
                }

                .moon {
                    justify-content: left;
                }
            }

@media (max-width: 900px) {
       
  /*  #input, #location {
    text-align: left;
    margin-left: 20px;
        }
*/
    #input {
           margin-bottom: 10px;
          }

    #location {
           /* margin: 0 10px; */
            text-align: center;
        }

    
    #arrow {
    float: left;
    margin: auto;
    max-width: 200px;
    max-height: 100px;
   }

   #weer {
    text-align: center;
    max-width: 700px;
    word-wrap: break-word;
}

.container_day_forecast_and_details {
    flex-direction: column;
    align-items: center;
 }

    #overlay_about {
        position: fixed;
        margin: 0 auto;
        display: none;
        width: 100%;
        height: 100%;
        bottom: 0%; 
        left: 5%;
        right: 0%;
        top: 0%;
    }
            
     #text_about{
       position: absolute;
       font-size: normal;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       -ms-transform: translate(-50%,-50%);
      }

      #text_about img 
       {
         display: none;
      }

      #about{
        margin-top: 0px;
        }

 
    }
@media (max-width: 500px) { 
    
    #text_about {
        font-size: large;
    }
    .container_details {
        flex-direction: column;
        width:fit-content;
    }

    .info_details {
        margin: 0;
    }

     #long_text {
        display: none;
    }

    #short_text {
        display: block;
    }

}

       
