
:root {
     --blue1: rgb(98 108 116); /* rgb(106, 181, 241); */
     --blue2: #ababab; /* #494fc9; */
}

body {
    margin: 8px auto;
    width: 80%;
}

body input {
    padding-left: 10px;
    width: 250px;
    height: 30px;
    font-style: italic;
}


#input_place, 
#input_coordinates {
    display: none;
}


#submit_place {
    visibility: hidden;
}

#place {
    width: 80%;
}

.container_temperature {
    display: flex;
}

.day_forecast_container, 
.hour_forecast_container, 
.sunriseset {
   display: flex;
   position: relative;
   margin: auto; 
   
 }

 .day_forecast_container {
    flex-direction: column;
}

 #width_day_forecast {
    padding: 0 5px;
 }

 .hour_forecast_container {
    overflow: auto;   
    margin: 1% 0;
 }
 
.day_forecast, 
.hour_forecast {
    display: flex;
    background-color: var(--blue2);
    justify-content: center;
    color: white;
   /* width: fit-content; */   
    padding: 5px;
    line-height: 1.6;
}

.hour_forecast {
    padding: 0px 25px;
    margin: 0 3px;
    flex-direction: column;
    background-color: var(--blue1);
}


.main {
    background-image: url('../pics/Background/Europa.png');
    height: 1140px; 
    max-width: 1450px;
    text-align: center;
    display: flex;
    flex-direction: column;
 
    /*  background-color: #a39080; */
    background-repeat: no-repeat;
    background-position: center;
   
}

.container_details, 
.container_footer_blocks, 
.container_sun {
    display: flex;
    width: 100%;
}

.container_sun {
    height: 250px;
}

.container_details {
      margin: 5%;
}

.empty_block,
.temperature_now,
.location_block,
.about_block,
.last_check_block, 
.moon_block, 
#arrow, 
#winds {
    width: 33%;
}

table {
    margin: auto;
    width: 300px;
  /*  background-color: var(--blue2); */
}
/*
.main_container_data {
    display: flex;
    flex-direction: column; 
    width: 250px;
    margin: auto;
    
}

.main_container_super_data, 
.sunriseset {
    display: flex;
    
}

.main_container_temp {
    margin: 0 25px;
}
*/

.moon {
    display: flex;
    justify-content: center;
}

#current_temperature, 
#minmax_temperature, 
#feel_temperature,
#wind_text,
.sunriseset,
#weer, 
#rest_num,
#last_update,
#morgen, #overmorgen, 
#input, #location, 
#winds, 
.info_details,
.weather_warning,
#about {
    color: white;
    font-weight: bold;
    font-size: large;
    font-family: 'Comic Neue', cursive;
    line-height: 30px;
    margin: auto;
    text-align: center;
    }


.info_details {
width: 50%;
text-align: left;
}

 #current_temperature, 
#minmax_temperature, 
#feel_temperature, 
#location
{
    color: black;
}   

#weer, 
.weather_warning {
    padding: 20px;
    margin: 0px;
}

  #gps {
    font-size: 12px;
    text-align: center;
}

#moon {
    margin-top: 10px;
 }      

.main #input, 
.main #location {
    margin: 0 auto 20px;
}

#location {
    min-width: 5px;
    max-width: fit-content;
    font-size: xx-large;
   
}

form #kompas {
    width: fit-content;
    padding: 5px;
    margin: 2% auto;
    display: flex;
    
}

#current_temperature {
    font-size: 40px;
    padding: 20px 0;
}

.container_arrow, 
.sunriseset {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.sunriseset img {
    margin: 2%;
    width: 100px;
}

#arrow {
    color: white;
    margin: auto;
    max-width: 100px;
    max-height: 50px;
    position: relative;

    animation-name: movearrow;
    animation-duration: 3s;
    animation-iteration-count: 5;
}
    
@keyframes movearrow {
 /*
 0%  {transform: 'translateX(0px)';transform: 'translateY(00px)';}
 100% {transform: 'translateX(50px)';transform: 'translateY(50px)';} 
 */
  0%  {left: 0px; top: 0px;}
 100% {left:80px; top: -30px;}   
}
   
 #image  {
  transform: scale(2);
  /*background-color: var(--blue2);*/
  width: fit-content;
  }


.font {
    font-size: large;
}

.visible {
    visibility: visible;
}

.hidden {
   visibility: hidden;
}

    
 #about, 
 #rest_num {
    text-decoration: none;
    z-index: 5;
    align-content: end;
 }

#about, #last_update {
    font-size: 12px;
}

#last_update {
    text-align: right;
}

 #overlay {
    position: fixed;
    display: none;
    width: 80%;
    height: 95%;
    bottom: 5%;
    right: 10%;
    background-color: rgba(0,0,0,0.8);
    z-index: 8;
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    /*background-image: url('./pics/artikel_aankondiging_small.png');*/
    top: 45%;
    left: 50%;
    line-height: 1;
    font-family: 'Comic Neue', cursive;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  @media (max-width: 1550px) {

           #doc2 {
                display: none; 
                }
        }
        
 @media (max-width: 1400px) {

    body {
        width: 100%;
    }
    }

 
  @media (max-width: 1000px) {

   
        #text{
            font-size: small;
             top: 50%;
             left: 55%;
            }

           #text img {
            padding-right: 10px;
             }  

             #doc1 {
                display: none; 
                }
            }

@media (max-width: 750px) {
       
    #input, #location {
    text-align: left;
    margin-left: 20px;
        }

    #input {
           margin-bottom: 10px;
          }

    #location {
            margin: 0 10px;
        }

    #image {
        margin-left: 85px;
    }

    
    #arrow {
    float: left;
    margin: auto;
    max-width: 200px;
    max-height: 100px;
   }

   #weer {
    font-size: normal;
    text-align: left;
    max-width: 700px;
    word-wrap: break-word;
}

    #overlay {
        position: fixed;
        margin: 0 auto;
        display: none;
        width: 100%;
        height: 100%;
        bottom: 0%; 
        left: 5%;
        right: 0%;
        top: 0%;
    }
            
     #text{
       position: absolute;
       font-size: normal;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       -ms-transform: translate(-50%,-50%);
      }

      #text img, 
      #text #addition  {
         display: none;
      }

      #about{
        margin-top: 0px;
        }

 
    }

@media (min-width: 550px) {
    #text {
        font-size: large;
    }
}

@media (max-width: 500px) {
    .container_details {
        flex-direction: column;
    }
    #arrow {
        padding:50px;
    }

}

       
